<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Pomodoro Timer - eTomato note, stats and music </title>
    <meta name="description" content="eTomato is an online pomodoro timer
            integrated with notepad and lofi music - providing an efficient vibe
            to boost your study and work. See your study stats and evaluate your
            time spent. Check out fellow’s notes and inspire each other.">
    <link rel="shortcut icon" href="./public/image/tomato.png" type="image/x-icon">
    <!-- Bootstrap , fonts & icons  -->
    <link type="text/css" rel="stylesheet" href="./public/toast/themes/toasteur-default.min.css">
    <link rel="stylesheet" href='./public/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./public/css/clock.css">
    <link rel="stylesheet" href="./public/css/feedback.css">
    <link rel="stylesheet" href="./public/fonts/icon-font/css/style.css">
    <link rel="stylesheet" href="./public/fonts/typography-font/typo.css">
    <link rel="stylesheet" href="./public/fonts/fontawesome-5/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./public/css/circle.css">
    <link rel="stylesheet" type="text/css" href="./public/css/demo.css">
    <link rel="stylesheet" type="text/css" href="./public/css/simplecircle.css">
    <link rel="stylesheet" href="./public/plugins/aos/aos.min.css">
    <link rel="stylesheet" href="./public/css/main.css">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css">
    <link type="text/css" rel="stylesheet" href="./public/css/music.css">
    <link href="./public/summernote/summernote.min.css" rel="stylesheet">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family:
        'Mazzard H';" onload="onLoad();">

    <div id="header">
        <div class="row position-relative justify-content-center">
            <div class="float-container">
                <div class="float-child" id="title-icon">
                    <img src="./public/image/tomato.png" width="60px" alt="">
                </div>
                <div class="float-child" id="title-text">eTomato</div>
            </div>

            <div id="taglines">
                <p>pomodoro timer | study stats | notes | lofi music</p>
            </div>
        </div>
        <div class="dropdown" id="settings">
            <a href="#" id="dropdownMenuButton" data-bs-toggle="dropdown">
                <img id="settingImg" src="<%=profileUrl%>" width="40px" height="40px" alt="Avatar">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#feedbackModal" data-bs-toggle="modal">Feedback</a>
                <a class="dropdown-item" href="#">Stats</a>
                <a class="dropdown-item" href="#logoutModal" data-bs-toggle="modal">Logout</a>
            </div>
        </div>
    </div>

    <!--Division for Modal-->
    <div id="feedbackModal" class="modal fade" role="dialog" aria-labelledby="feedbackTitle">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="feedbackTitle">How would you feel if you could no longer use</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <h4><strong>eTomato.online</strong>?</h4>
                    <hr id="feedbackHr">
                </div>
                <div class="form-check mb-4">
                    <input name="feedback" type="radio" class="feedback_opt" id="feedback_opt_1" value="1">
                    <label class="ml-3" for="feedback_opt_1">Very disappointed</label>
                </div>
                <div class="form-check mb-4">
                    <input name="feedback" type="radio" class="feedback_opt" id="feedback_opt_2" value="2">
                    <label class="ml-3" for="feedback_opt_2">Somewhat disappointed</label>
                </div>
                <div class="form-check mb-4">
                    <input name="feedback" type="radio" class="feedback_opt" id="feedback_opt_3" value="3">
                    <label class="ml-3" for="feedback_opt_3">Not disappointed</label>
                </div>
                <div class="form-check mb-4">
                    <input name="feedback" type="radio" class="feedback_opt" id="feedback_opt_4" value="4">
                    <label class="ml-3" for="feedback_opt_4">N/A</label>
                </div>
                <div class="text-center">
                    <h5>What could we improve?</h5>
                    <hr id="feedbackHr">
                </div>
                <textarea type="textarea" placeholder="Your Message" rows="3" id="feedbackMsg"></textarea>
                <div class="modal-footer">
                    <a href="" class="btn btn-primary" onclick="SendFeedback();">Send
                        <i class="fa fa-paper-plane"></i>
                    </a>
                    <a href="" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal stopTomato -->
    <div class="modal fade" id="stopTomatoModal" tabindex="-1" aria-labelledby="stopLableModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stopLableModalLabel">Stop the current tomato?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you going to terminate this session?.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <script type="module" src="./public/js/circle.js"></script>
                    <button onclick="StopTomato()" type="button" class="btn btn-danger px-4" data-ds-dismiss="modal"
                        id="modalClose2">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you going to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" onclick="logout()" class="btn btn-primary">Logout</button>
                </div>
            </div>
        </div>
    </div>

    <div id="left-side">
        <div class="row justify-content-center">
            <div class="circlebar" id="circlebarId" data-circle-startTime=<%=durationSec%> data-circle-dialWidth=20
                data-circle-size="200px" data-circle-maxValue="<%=tomatoSessionLength%>" data-circle-skin="purple">
                <div class="loader-bg">
                    <% if(isTomatoOn) { %>
                    <div class="text">Loading...</div>
                    <% } else {  %>
                    <div class="text">25:00</div>
                    <% }%>
                </div>
            </div>
            <div id="startBtnSec">
                <a id="start_btn" style="background-color:
                                    transparent; border-width: 0px;" role="button" aria-expanded="false"
                    aria-controls="collapseTimer">
                    <% if(!isTomatoOn) { %>
                    <img id="startBtn" alt="start_a_tomato" src="./public/image/start_tomato.png" width="340"
                        height="45" onmouseover="startOver();" onmouseout="startOut();" onclick="ClickStartBtn();"
                        ondblclick="ClickStartBtn();">
                    <% } else { %>
                    <img id="startBtn" alt="stop_a_tomato" src="./public/image/stop_tomato.png" width="340" height="45"
                        onmouseover="startOver();" onmouseout="startOut();" onclick="ClickStartBtn();"
                        ondblclick="ClickStartBtn();">
                    <% } %>
                </a>
            </div>
            <% if (noteSkipped || noteCompleted) { %>
            <div id="processNotesSec" style="display:none;">
                <lable id="processNotesLbl">*Please process the notes for the previous session*</lable>
            </div>
            <% } else { %>
            <div id="processNotesSec" style="display:table-row;">
                <lable id="processNotesLbl">*Please process the notes for the previous session*</lable>
            </div>
            <% } %>
            <hr class="split">

            <div id="todaySummarySec">
                <lable id="todayTomatoLbl">Today's tomatos (0)</lable>
            </div>
        </div>


    </div>

    <div id="right-side">
        <div class="row position-relative justify-content-center">
            <div id="intro_img_sec">
                <img id="intro_img" src="./public/image/intro.png">
            </div>
        </div>
    </div>

    <div id="middle">
        <div class="row position-relative justify-content-center">
            <input id="tomatoType" list="hosting-plan" placeholder="Leave a task category for better stats..."
                type="text">
            <datalist id="hosting-plan">
                <option value="Reading" />
                <option value="Working" />
                <option value="Workout" />
            </datalist>

            <div id="summernote" class="position-relative justify-content-center"></div>
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        placeholder: 'Ralph Ellison’s The Invisible Man: An extremely powerful story of a young Southern Negro ... ',
                        tabsize: 2,
                        toolbar: [
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                        ],
                        height: 220,
                        focus: true,
                    }).on("summernote.enter", function (we, e) {
                        $(this).summernote('pasteHTML', '<br>&VeryThinSpace;');
                        e.preventDefault();
                    });
                });
            </script>
            <% if (noteSkipped || noteCompleted) { %>
            <div id="publishSection" style="display:none;"=>
                <button id="disgardBtn" type="button" onclick="disgard();">Skip</button>
                <!-- <input type="checkbox" id="publishCheckBox" name="publishCheckBox">
                <label id="checkboxLbl" for="publishCheckBox">Publish
                    to global</label> -->
                <button id="saveBtn" type="button" onclick="saveNotes();">Save</button>
            </div>
            <% } else { %>
            <div id="publishSection" style="display:table-row;"=>
                <button id="disgardBtn" type="button" onclick="disgard();">Skip</button>
                <!-- <input type="checkbox" id="publishCheckBox" name="publishCheckBox">
                <label id="checkboxLbl" for="publishCheckBox">Publish
                    to global</label> -->
                <button id="saveBtn" type="button" onclick="saveNotes();">Save</button>
            </div>
            <% } %>

            <div id="notesSec">
                <% for (let i=0; i<tomatos.length; i++) { %>
                <div class="noteCard">
                    <img id="noteAvatar" src="<%=profileUrl%>" width="40px" height="40px" alt="Avatar">
                    <label id="noteLable">Me</label>
                    <label
                        id="noteTime"><%=moment.unix(parseInt(tomatos[i]["startTimeSec"]) - parseInt(tomatos[i]["timeOffset"]) * 60).format('lll')%></label>
                    <%if(tomatos[i]["notes"]) {%>
                    <label id="noteType"><%=tomatos[i]["type"]%></label>
                    <%} else {%>
                    <label id="noteType">No type</label>
                    <%}%>
                    <%if(tomatos[i]["duration"]) {%>
                    <img id="noteStatus" src="./public/image/green_tomato.png" width="40px" height="40px" alt="Avatar">
                    <%} else {%>
                    <img id="noteStatus" src="./public/image/tomato.png" width="40px" height="40px" alt="Avatar">
                    <%}%>
                    <br>
                    <div id="noteText">
                    <%if(tomatos[i]["notes"]) {%>
                    <%-tomatos[i]["notes"]%>
                    <%} else {%>
                    Nothing was noted in this session.
                    <%}%>
                    </div>
                    <img id="noteLikeBtn" src="./public/image/liked.png">
                    <label id="likeCnt">0</label>
                </div>
                <% } %>
                </div>
            </div>
        </div>


        <div class="collapse" id="musicCollapse">
            <div id="app-cover" data-onload=<%=isMusicPlaying%> data-onrest=<%=remainingRestTimeSec%>
                data-tomatoSessionLength=<%=tomatoSessionLength%> data-defaultcdlength=<%=coolDownLength%>>
                <div id="player">
                    <div id="player-track">
                        <div id="album-name"></div>
                        <div id="track-name"></div>
                        <div id="track-time">
                            <div id="current-time"></div>
                            <div id="track-length"></div>
                        </div>
                        <div id="s-area">
                            <div id="ins-time"></div>
                            <div id="s-hover"></div>
                            <div id="seek-bar"></div>
                        </div>
                    </div>
                    <div id="player-content">
                        <div id="album-art">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_A_Subtle_Reflection_Daniel_Kaede.jpeg?alt=media&token=60eed0ce-c372-4e69-bff5-0c5ee0bcb589"
                                class="active" id="_1">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Youth_Is_Wasted_On_The_Young_Chez%20Remix_Tellow.jpeg?alt=media&token=32fd9a79-e9aa-4490-9794-9773485f5d25"
                                class="active" id="_2">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_The_Hours_dreem.jpeg?alt=media&token=79d32fdf-481d-4049-9e04-4eb13ddc204d"
                                class="active" id="_3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Spirals_Arden_Forest.jpeg?alt=media&token=76eee0d8-cafe-4e32-ad11-98c66bd8326e"
                                class="active" id="_4">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Singing_Swan_Aleph_One.jpeg?alt=media&token=e11b9027-adfb-49a5-878d-f4f42f0b8d92"
                                class="active" id="_5">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Silver_Rain_Emil_Axelsson.jpeg?alt=media&token=d2746de3-eebf-4177-942e-3acf6a5b385a"
                                class="active" id="_6">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Satellite_of_Love_Brendon_Moeller.jpeg?alt=media&token=20f956a6-3bd1-492b-8c79-ea8848a2723e"
                                class="active" id="_7">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_New_Jade_dreem.jpeg?alt=media&token=33607f99-5595-4fee-a8bf-b302a7225cb6"
                                class="active" id="_8">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Neutra_Chelle_Ives.jpeg?alt=media&token=84669922-c237-4360-afef-bd3f72706773"
                                class="active" id="_9">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Let_There_Be_Rain_Silver_Maple.jpeg?alt=media&token=789062a8-463e-40bb-ac05-bf60defeb0a2"
                                class="active" id="_10">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Late_Arrivals_Lonov.jpeg?alt=media&token=fd73bd6c-11f1-4d39-b0fe-726ec39d26a5"
                                class="active" id="_11">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Lakes_Harbours_Oceans.jpeg?alt=media&token=4cd8eee3-3d65-4bb7-ba89-ac70d50cc055"
                                class="active" id="_12">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Krotos_They_Dream_By_Day.jpeg?alt=media&token=7c8cc492-6879-44a0-b141-288beb60f720"
                                class="active" id="_13">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Dreaming_Wide_Awake_King_Sis.jpeg?alt=media&token=bb2fabc1-edc0-4580-888b-539e2423b3d5"
                                class="active" id="_14">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Copycat_Far_Orange.jpeg?alt=media&token=06dc4d42-caba-4822-8fcf-5374a5977226"
                                class="active" id="_15">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Between_Illusions_Rikard_From.jpeg?alt=media&token=b342c953-932e-4e2e-aeb3-0878cc5d60d0"
                                class="active" id="_16">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Baby_Idk_Rambutan.jpeg?alt=media&token=39785b51-9fc3-4b37-a23f-df73dcc84940"
                                class="active" id="_17">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Avinam_Valante.jpeg?alt=media&token=183a9647-f304-485d-8422-c1a57ccd83a0"
                                class="active" id="_18">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Alike_Jones_Meadow.jpeg?alt=media&token=56ad6c86-588d-493a-ad7d-a4f8c314a9e8"
                                class="active" id="_19">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_Abstractions_Aleph_One.jpeg?alt=media&token=8576a2cd-d593-42cc-bb3b-08fefd923518"
                                class="active" id="_20">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2FES_100_Times_Jones_Meadow.jpeg?alt=media&token=3506ed8f-e264-45e0-96c7-5837095261cb"
                                class="active" id="_21">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_1.jpeg?alt=media&token=1bb7b4f7-f7aa-43c4-b6e7-8003fb40d8ec"
                                class="active" id="_22">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_2.jpeg?alt=media&token=931388e5-a928-45b6-8db4-5f966559e512"
                                id="_23">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_3.jpeg?alt=media&token=7d0fcad3-305e-47dc-a1e9-4aca3b0f43ef"
                                id="_24">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_4.jpeg?alt=media&token=13826994-10ba-47f5-b3cf-668a9f544738"
                                id="_25">
                            <img src="https://firebasestorage.googleapis.com/v0/b/etomato-63aac.appspot.com/o/sounds%2F_5.jpeg?alt=media&token=230fd83b-5cc7-4518-b0d4-a050813f60c2"
                                id="_26">
                            <div id="buffer-box">Buffering
                                ...</div>
                        </div>
                        <div id="player-controls">
                            <div class="control">
                                <div class="button" id="play-previous">
                                    <i class="fas
                                                                    fa-backward"></i>
                                </div>
                            </div>
                            <div class="control">
                                <div class="button" id="play-pause-button">
                                    <i class="fas
                                                                    fa-play"></i>
                                </div>
                            </div>
                            <div class="control">
                                <div class="button" id="play-next">
                                    <i class="fas
                                                                    fa-forward"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="coolDownModal" class="modal hide" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class=" modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="coolDownModalTitle">5 mins Break</h5>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="circlebarCD" id="circlebarCDiD" data-circle-startTime=<%=remainingRestTimeSec%>
                                data-circle-dialWidth=10 data-circle-size="200px"
                                data-circle-maxValue="<%=coolDownLength%>" data-circle-skin="blue">
                                <div class="loader-bg">
                                    <div class="text">05:00</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p class="pos_center">Pomodoro technique suggests 3-5 minutes break to disconnect from your
                            work.
                            And this allows your mind to assimilate what's been learned in the last 25 minutes and
                            also
                            gives you a chance to do something good for your health, which will help you do your
                            best during
                            the next Pomodoro.</p>
                        <p class="pos_center">✅ Dos: Stand up and walk around the room, have a drink of water or
                            fantasize
                            about where you'll go on your next vacations. You can do deep breathing or streching
                            exercises.
                            If you work with other people, you can swap a joke or two.</p>
                        <p class="pos_center">❌ Donts: don't talk about work-related issues with a colleague, don't
                            write
                            important e-mails or make urgent phones calls. Doing these kinds of things would block
                            the
                            constructive mental integration that you need to feel alert and ready for the start of
                            the next
                            Pomodoro.</p>
                        <p class="pos_center">🥨 🍨 🥑 😴 💅🏻 🎸 🎯 🐶 🐱</p>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer-area-l-12 position-relative" style="text-align:center;">
        </footer>
    </div>
    <!-- Vendor Scripts -->
    <script src="./public/js/vendor.min.js"></script>
    <script src="./public/plugins/aos/aos.min.js"></script>
    <!-- Activation Script -->
    <script src="./public/js/custom.js"></script>
    <script src="./public/js/clock.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBe7BVBWqB6znKy7b_UND2nUd09nnUFmEQ",
            authDomain: "etomato-63aac.firebaseapp.com",
            databaseURL: "https://etomato-63aac-default-rtdb.firebaseio.com",
            projectId: "etomato-63aac",
            storageBucket: "etomato-63aac.appspot.com",
            messagingSenderId: "144378496941",
            appId: "1:144378496941:web:dc08de13472e73f14d0324",
            measurementId: "G-7W4Q6GF7JP"
        };
        try {
            firebase.initializeApp(firebaseConfig);
        } catch {}
    </script>

    <script>
        function onLoad() {
            firebase.analytics().logEvent('onLoad');
            var isOnRest = document.getElementById('app-cover').dataset.onrest;
            if (isOnRest > 0) {
                $('#coolDownModal').modal("show");
                StartCoolDown();
            } else {
                var isMusicPlaying = (document.getElementById('app-cover').dataset.onload === "true");
                if (isMusicPlaying) {
                    document.getElementById('play-pause-button').click();
                    var val = confirm("Welcome back to an ongoing tomato!");
                }
            }
            var btnVal = document.getElementById("startBtn").alt;
            if (btnVal == "start_a_tomato") {
                $('#musicCollapse').collapse("hide")
            } else {
                $('#musicCollapse').collapse("show")
            }
        }

        function startOver() {
            var snd = new Audio("./public/sounds/start_over.mp3");
            // var snd = new Audio(
            //     "https://drive.google.com/file/d/1EvRx8uqJ17Q9XpJ9rpXetXdZaWqRaP6w/view?usp=sharing");
            snd.play();
            var btnVal = document.getElementById("startBtn").alt;
            if (btnVal == "start_a_tomato") {
                document.getElementById('startBtn').src = "./public/image/start_tomato_hover.png";
                firebase.analytics().logEvent('startOver');
            } else {
                document.getElementById('startBtn').src = "./public/image/stop_tomato_hover.png";
                firebase.analytics().logEvent('stopOver');
            }
        }

        function startOut() {
            var btnVal = document.getElementById("startBtn").alt;
            if (btnVal == "start_a_tomato") {
                document.getElementById("startBtn").src = "./public/image/start_tomato.png";
                firebase.analytics().logEvent('startOut');
            } else {
                document.getElementById("startBtn").src = "./public/image/stop_tomato.png";
                firebase.analytics().logEvent('stopOut');
            }
        }

        function disgard() {
            $.ajax({
                url: "./skipNotes",
                type: "POST",
                success: function (result) {
                    new Toasteur().success("Notes skipped", 'Have fun in your next tomato!', () => {});
                    document.getElementById("publishSection").style.display = "none";
                    document.getElementById("processNotesSec").style.display = "none";
                    var defaultcdlength = document.getElementById('app-cover').dataset.defaultcdlength;
                    document.getElementById("circlebarCDiD").dataset.circleStarttime = "0";
                    document.getElementById("circlebarCDiD").dataset.circleMaxvalue = defaultcdlength;
                    var tomatoSessionLength = document.getElementById('app-cover').dataset
                        .tomatosessionlength;
                    document.getElementById("circlebarId").dataset.circleStarttime = "0";
                    document.getElementById("circlebarId").dataset.circleMaxvalue = defaultcdlength;
                    ResetClock(0)
                    ResetCDClock(0);
                    // document.getElementById('publishCheckBox').checked = false;
                    document.getElementById("tomatoType").value = "";
                    $('#summernote').summernote('code', "");
                    $('#notesSec').prepend(
                        result);
                },
                error: function (error) {
                    new Toasteur().error(error.responseText, 'Error!', () => {});
                },
            });
        }

        function ClickStartBtn() {
            if (document.getElementById("processNotesSec").style.display !== "none") {
                $("#processNotesSec").fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                $("#publishSection").fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100);
                return;
            }
            document.getElementById("startBtn").src = "./public/image/start_tomato_pressed.png";
            var snd = new Audio("./public/sounds/start_clicked.mp3");
            // var snd = new Audio(
            //     "https://drive.google.com/file/d/1RwlArKE3ls_8tKl3LuRInMGr2TuXpg_s/view?usp=sharing");
            snd.play();
            var btnVal = document.getElementById("startBtn").alt;
            if (btnVal == "start_a_tomato") {
                firebase.analytics().logEvent('ClickStartBtn');
                const date = new Date();
                const offset = date.getTimezoneOffset();
                $.ajax({
                    url: "./startSession",
                    type: "POST",
                    data: {
                        timeOffset: offset
                    },
                    success: function (result) {
                        new Toasteur().success('Enjoy your time!', "A new Tomato is started", () => {});
                        document.getElementById("startBtn").src = "./public/image/stop_tomato.png";
                        document.getElementById("startBtn").alt = "stop_a_tomato";
                        $('#musicCollapse').collapse("show")
                    },
                    error: function (error) {
                        new Toasteur().error(error.responseText, 'Error!', () => {});
                        document.getElementById("startBtn").alt = "start_a_tomato";
                        $('#musicCollapse').collapse("hide")
                    },
                });
            } else {
                firebase.analytics().logEvent('ClickStopBtn');
                $('#stopTomatoModal').modal("show");
            }
        }

        function logout() {
            firebase.analytics().logEvent('logout');
            fetch("./logout", {
                    method: "GET",
                })
                .then(response => {
                    window.location.href = "./";
                });
            sessionStorage.setItem("_session", "");
        }

        function SendFeedback() {
            var checkedValue = document.querySelector('.feedback_opt:checked').value;
            var comments = document.getElementById("feedbackMsg").value
            if (checkedValue || comments) {
                $.ajax({
                    url: "./feedback",
                    type: "POST",
                    data: {
                        checkedValue: checkedValue,
                        comments: comments,
                    },
                    success: function (result) {
                        new Toasteur().success("Thanks for the feedback!", 'We really appreciate your help',
                            () => {});
                    },
                    error: function (error) {
                        new Toasteur().error(error.responseText, 'Error!', () => {});
                    },
                });
            }
        }

        function saveNotes() {
            // var checkedValue = document.getElementById('publishCheckBox').checked;
            var tomatoType = document.getElementById("tomatoType").value;
            var notes = $('#summernote').summernote('code')
            if (!tomatoType && !notes) {
                new Toasteur().error('Or you can skip this one.', "Saving requires the category or the notes",
                    () => {});
                return;
            }
            $.ajax({
                url: "./saveNotes",
                type: "POST",
                data: {
                    // checkedValue: checkedValue,
                    tomatoType: tomatoType,
                    notes: notes,
                },
                success: function (result) {
                    new Toasteur().success("Note saved", 'Have fun in your next tomato',
                        () => {});
                    document.getElementById("publishSection").style.display = "none";
                    document.getElementById("processNotesSec").style.display = "none";
                    // document.getElementById('publishCheckBox').checked = false;
                    document.getElementById("tomatoType").value = "";
                    ResetClock(0)
                    ResetCDClock(0);
                    $('#summernote').summernote('code', "");
                    $('#notesSec').prepend(
                        result);
                },
                error: function (error) {
                    new Toasteur().error(error.responseText, 'Error!', () => {});
                },
            });
        }
    </script>

    <script>
        $(function () {
            $('#modalClose').on('click', function () {
                $('#stopTomatoModal').modal("hide");
            })
            $('#modalClose1').on('click', function () {
                $('#stopTomatoModal').modal("hide");
            })
            $('#modalClose2').on('click', function () {
                $('#stopTomatoModal').modal("hide");
            })
        })
    </script>

    <script type="module" src="./public/js/coolDownClock.js"></script>
    <script type="module" src="./public/js/music.js"></script>
    <script src="./public/summernote/summernote.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

    <script src="./public/toast/toasteur.min.js"></script>
</body>

</html>